header
{
    background-color: #4FACFE;
    padding: 20px 80px;
    top: 0;
    font-size: 30px;
    justify-content: space-between;
    display: flex;
    position: sticky;
    
}
body 
{
    margin: 0;
    padding: 0;
    background-image: url("../assets/deep-space-galaxy-blue-nebula-4k-wallpaper.jpg");
    background-size: cover;
}
.atas
{
    border: 0px;
    font-size: large;
    display: flex;
    gap: 40px;
}

.tengah
{
    padding: 0px 200px;
}
.buttonatas
{
    background-color: #4FACFE;
}
.kaki
{
    background-color: ;
}
